<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.C4TouchApplicationBase</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Info.plist:UIMainStoryboardFile</key>
		<string>&lt;key&gt;UIMainStoryboardFile&lt;/key&gt;
&lt;string&gt;Main&lt;/string&gt;</string>
	</dict>
	<key>Identifier</key>
	<string>com.apple.dt.unit.C4StoryboardApplication</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Nodes</key>
	<array>
		<string>Info.plist:UIMainStoryboardFile</string>
		<string>Base.lproj/Main.storyboard</string>
		<string>Color.swift</string>
		<string>EventSource.swift</string>
		<string>Foundation.swift</string>
		<string>Math.swift</string>
		<string>Path.swift</string>
		<string>Point.swift</string>
		<string>Rect.swift</string>
		<string>Size.swift</string>
		<string>Transform.swift</string>
		<string>Vector.swift</string>
		<string>Animation.swift</string>
		<string>Arc.swift</string>
		<string>AudioPlayer.swift</string>
		<string>CanvasController.swift</string>
		<string>Circle.swift</string>
		<string>Curve.swift</string>
		<string>Ellipse.swift</string>
		<string>Filter.swift</string>
		<string>Font.swift</string>
		<string>Generator.swift</string>
		<string>Gradient.swift</string>
		<string>GradientLayer.swift</string>
		<string>Image.swift</string>
		<string>Image+Crop.swift</string>
		<string>Image+Filter.swift</string>
		<string>Image+Generator.swift</string>
		<string>ImageLayer.swift</string>
		<string>Line.swift</string>
		<string>Layer.swift</string>
		<string>Movie.swift</string>
		<string>Pixel.swift</string>
		<string>PlayerLayer.swift</string>
		<string>Polygon.swift</string>
		<string>QuadCurve.swift</string>
		<string>Rectangle.swift</string>
		<string>RegularPolygon.swift</string>
		<string>ScreenRecorder.swift</string>
		<string>Shape+Creation.swift</string>
		<string>Shape.swift</string>
		<string>ShapeLayer.swift</string>
		<string>StoredAnimation.swift</string>
		<string>Star.swift</string>
		<string>TextShape.swift</string>
		<string>Timer.swift</string>
		<string>Triangle.swift</string>
		<string>UIImage+Color.swift</string>
		<string>UIImage+AddRemove.swift</string>
		<string>View.swift</string>
		<string>View+Animation.swift</string>
		<string>View+Border.swift</string>
		<string>View+KeyValues.swift</string>
		<string>View+Render.swift</string>
		<string>View+Shadow.swift</string>
		<string>ViewAnimation.swift</string>
		<string>Wedge.swift</string>
		<string>Filters</string>
		<string>UIGestureRecognizer+Closure.swift</string>
		<string>UIViewController+C4View.swift</string>
		<string>Loop.aif</string>
		<string>halo.mp4</string>
		<string>haloGray.mp4</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Swift</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>*:implementation:methods:awakeFromNib:super</key>
						<string>super.awakeFromNib()</string>
						<key>Color.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/Core/Color.swift</string>
							<key>Group</key>
							<array>
								<string></string>
								<string>Core</string>
							</array>
						</dict>
						<key>EventSource.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/Core/EventSource.swift</string>
							<key>Group</key>
							<array>
								<string></string>
								<string>Core</string>
							</array>
						</dict>
						<key>Foundation.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/Core/Foundation.swift</string>
							<key>Group</key>
							<array>
								<string></string>
								<string>Core</string>
							</array>
						</dict>
						<key>Math.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/Core/Math.swift</string>
							<key>Group</key>
							<array>
								<string></string>
								<string>Core</string>
							</array>
						</dict>
						<key>Path.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/Core/Path.swift</string>
							<key>Group</key>
							<array>
								<string></string>
								<string>Core</string>
							</array>
						</dict>
						<key>Point.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/Core/Point.swift</string>
							<key>Group</key>
							<array>
								<string></string>
								<string>Core</string>
							</array>
						</dict>
						<key>Rect.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/Core/Rect.swift</string>
							<key>Group</key>
							<array>
								<string></string>
								<string>Core</string>
							</array>
						</dict>
						<key>Size.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/Core/Size.swift</string>
							<key>Group</key>
							<array>
								<string></string>
								<string>Core</string>
							</array>
						</dict>
						<key>Transform.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/Core/Transform.swift</string>
							<key>Group</key>
							<array>
								<string></string>
								<string>Core</string>
							</array>
						</dict>
						<key>Vector.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/Core/Vector.swift</string>
							<key>Group</key>
							<array>
								<string></string>
								<string>Core</string>
							</array>
						</dict>
						<key>Animation.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/Animation.swift</string>
							<key>Group</key>
							<array>
								<string></string>
								<string>UI</string>
							</array>
						</dict>
						<key>Arc.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/Arc.swift</string>
							<key>Group</key>
							<array>
								<string></string>
								<string>UI</string>
							</array>
						</dict>
						<key>AudioPlayer.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/AudioPlayer.swift</string>
							<key>Group</key>
							<array>
								<string></string>
								<string>UI</string>
							</array>
						</dict>
						<key>CanvasController.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/CanvasController.swift</string>
							<key>Group</key>
							<array>
								<string></string>
								<string>UI</string>
							</array>
						</dict>
						<key>Circle.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/Circle.swift</string>
							<key>Group</key>
							<array>
								<string></string>
								<string>UI</string>
							</array>
						</dict>
						<key>Curve.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/Curve.swift</string>
							<key>Group</key>
							<array>
								<string></string>
								<string>UI</string>
							</array>
						</dict>
						<key>Ellipse.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/Ellipse.swift</string>
							<key>Group</key>
							<array>
								<string></string>
								<string>UI</string>
							</array>
						</dict>
						<key>Filter.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/Filter.swift</string>
							<key>Group</key>
							<array>
								<string></string>
								<string>UI</string>
							</array>
						</dict>
						<key>Font.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/Font.swift</string>
							<key>Group</key>
							<array>
								<string></string>
								<string>UI</string>
							</array>
						</dict>
						<key>Generator.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/Generator.swift</string>
							<key>Group</key>
							<array>
								<string></string>
								<string>UI</string>
							</array>
						</dict>
						<key>Gradient.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/Gradient.swift</string>
							<key>Group</key>
							<array>
								<string></string>
								<string>UI</string>
							</array>
						</dict>
						<key>GradientLayer.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/GradientLayer.swift</string>
							<key>Group</key>
							<array>
								<string></string>
								<string>UI</string>
							</array>
						</dict>
						<key>Image+Crop.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/Image+Crop.swift</string>
							<key>Group</key>
							<array>
								<string></string>
								<string>UI</string>
							</array>
						</dict>
						<key>Image+Filter.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/Image+Filter.swift</string>
							<key>Group</key>
							<array>
								<string></string>
								<string>UI</string>
							</array>
						</dict>
						<key>Image+Generator.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/Image+Generator.swift</string>
							<key>Group</key>
							<array>
								<string></string>
								<string>UI</string>
							</array>
						</dict>
						<key>Image.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/Image.swift</string>
							<key>Group</key>
							<array>
								<string></string>
								<string>UI</string>
							</array>
						</dict>
						<key>ImageLayer.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/ImageLayer.swift</string>
							<key>Group</key>
							<array>
								<string></string>
								<string>UI</string>
							</array>
						</dict>
						<key>Layer.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/Layer.swift</string>
							<key>Group</key>
							<array>
								<string></string>
								<string>UI</string>
							</array>
						</dict>
						<key>Line.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/Line.swift</string>
							<key>Group</key>
							<array>
								<string></string>
								<string>UI</string>
							</array>
						</dict>
						<key>Movie.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/Movie.swift</string>
							<key>Group</key>
							<array>
								<string></string>
								<string>UI</string>
							</array>
						</dict>
						<key>Pixel.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/Pixel.swift</string>
							<key>Group</key>
							<array>
								<string></string>
								<string>UI</string>
							</array>
						</dict>
						<key>PlayerLayer.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/PlayerLayer.swift</string>
							<key>Group</key>
							<array>
								<string></string>
								<string>UI</string>
							</array>
						</dict>
						<key>Polygon.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/Polygon.swift</string>
							<key>Group</key>
							<array>
								<string></string>
								<string>UI</string>
							</array>
						</dict>
						<key>QuadCurve.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/QuadCurve.swift</string>
							<key>Group</key>
							<array>
								<string></string>
								<string>UI</string>
							</array>
						</dict>
						<key>Rectangle.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/Rectangle.swift</string>
							<key>Group</key>
							<array>
								<string></string>
								<string>UI</string>
							</array>
						</dict>
						<key>RegularPolygon.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/RegularPolygon.swift</string>
							<key>Group</key>
							<array>
								<string></string>
								<string>UI</string>
							</array>
						</dict>
						<key>ScreenRecorder.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/ScreenRecorder.swift</string>
							<key>Group</key>
							<array>
								<string></string>
								<string>UI</string>
							</array>
						</dict>						
						<key>Shape+Creation.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/Shape+Creation.swift</string>
							<key>Group</key>
							<array>
								<string></string>
								<string>UI</string>
							</array>
						</dict>
						<key>StoredAnimation.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/StoredAnimation.swift</string>
							<key>Group</key>
							<array>
								<string></string>
								<string>UI</string>
							</array>
						</dict>
						<key>Shape.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/Shape.swift</string>
							<key>Group</key>
							<array>
								<string></string>
								<string>UI</string>
							</array>
						</dict>
						<key>ShapeLayer.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/ShapeLayer.swift</string>
							<key>Group</key>
							<array>
								<string></string>
								<string>UI</string>
							</array>
						</dict>
						<key>Star.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/Star.swift</string>
							<key>Group</key>
							<array>
								<string></string>
								<string>UI</string>
							</array>
						</dict>
						<key>TextShape.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/TextShape.swift</string>
							<key>Group</key>
							<array>
								<string></string>
								<string>UI</string>
							</array>
						</dict>
						<key>Timer.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/Timer.swift</string>
							<key>Group</key>
							<array>
								<string></string>
								<string>UI</string>
							</array>
						</dict>
						<key>Triangle.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/Triangle.swift</string>
							<key>Group</key>
							<array>
								<string></string>
								<string>UI</string>
							</array>
						</dict>
						<key>View+Animation.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/View+Animation.swift</string>
							<key>Group</key>
							<array>
								<string></string>
								<string>UI</string>
							</array>
						</dict>
						<key>UIImage+Color.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/UIImage+Color.swift</string>
							<key>Group</key>
							<array>
								<string></string>
								<string>UI</string>
							</array>
						</dict>
						<key>UIImage+AddRemove.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/UIImage+AddRemove.swift</string>
							<key>Group</key>
							<array>
								<string></string>
								<string>UI</string>
							</array>
						</dict>
						<key>View+Border.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/View+Border.swift</string>
							<key>Group</key>
							<array>
								<string></string>
								<string>UI</string>
							</array>
						</dict>
						<key>View+KeyValues.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/View+KeyValues.swift</string>
							<key>Group</key>
							<array>
								<string></string>
								<string>UI</string>
							</array>
						</dict>
						<key>View+Render.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/View+Render.swift</string>
							<key>Group</key>
							<array>
								<string></string>
								<string>UI</string>
							</array>
						</dict>
						<key>View+Shadow.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/View+Shadow.swift</string>
							<key>Group</key>
							<array>
								<string></string>
								<string>UI</string>
							</array>
						</dict>
						<key>View.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/View.swift</string>
							<key>Group</key>
							<array>
								<string></string>
								<string>UI</string>
							</array>
						</dict>
						<key>ViewAnimation.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/ViewAnimation.swift</string>
							<key>Group</key>
							<array>
								<string></string>
								<string>UI</string>
							</array>
						</dict>
						<key>Wedge.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/Wedge.swift</string>
							<key>Group</key>
							<array>
								<string></string>
								<string>UI</string>
							</array>
						</dict>
						<key>Filters</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/Filters</string>
							<key>Group</key>
							<array>
								<string></string>
								<string>UI</string>
							</array>
						</dict>
						<key>UIGestureRecognizer+Closure.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/UIGestureRecognizer+Closure.swift</string>
							<key>Group</key>
							<array>
								<string></string>
								<string>UI</string>
							</array>
						</dict>
						<key>UIViewController+C4View.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/UIViewController+C4View.swift</string>
							<key>Group</key>
							<array>
								<string></string>
								<string>UI</string>
							</array>
						</dict>
						<key>Loop.aif</key>
						<dict>
							<key>Path</key>
							<string>./C4Loop.aif</string>
							<key>Group</key>
							<array>
								<string>Media</string>
							</array>
						</dict>
						<key>halo.mp4</key>
						<dict>
							<key>Path</key>
							<string>./halo.mp4</string>
							<key>Group</key>
							<array>
								<string>Media</string>
							</array>
						</dict>
						<key>haloGray.mp4</key>
						<dict>
							<key>Path</key>
							<string>./haloGray.mp4</string>
							<key>Group</key>
							<array>
								<string>Media</string>
							</array>
						</dict>
					</dict>
					<key>Targets</key>
					<array>
						<dict>
							<key>SharedSettings</key>
							<dict/>
						</dict>
					</array>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
