<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.C4TouchApplicationBase</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Info.plist:UIMainStoryboardFile</key>
		<string>&lt;key&gt;UIMainStoryboardFile&lt;/key&gt;
&lt;string&gt;Main&lt;/string&gt;</string>
	</dict>
	<key>Identifier</key>
	<string>com.apple.dt.unit.C4StoryboardApplication</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Nodes</key>
	<array>
		<string>Info.plist:UIMainStoryboardFile</string>
		<string>Base.lproj/Main.storyboard</string>
		<string>C4Color.swift</string>
		<string>C4EventSource.swift</string>
		<string>C4Foundation.swift</string>
		<string>C4Math.swift</string>
		<string>C4Path.swift</string>
		<string>C4Point.swift</string>
		<string>C4Rect.swift</string>
		<string>C4Size.swift</string>
		<string>C4Transform.swift</string>
		<string>C4Vector.swift</string>
		<string>C4Animation.swift</string>
		<string>C4Arc.swift</string>
		<string>C4AudioPlayer.swift</string>
		<string>C4CanvasController.swift</string>
		<string>C4Circle.swift</string>
		<string>C4Curve.swift</string>
		<string>C4Ellipse.swift</string>
		<string>C4Filter.swift</string>
		<string>C4Font.swift</string>
		<string>C4Generator.swift</string>
		<string>C4Gradient.swift</string>
		<string>C4GradientLayer.swift</string>
		<string>C4Image.swift</string>
		<string>C4Image+Crop.swift</string>
		<string>C4Image+Filter.swift</string>
		<string>C4Image+Generator.swift</string>
		<string>C4Line.swift</string>
		<string>C4Movie.swift</string>
		<string>C4Polygon.swift</string>
		<string>C4QuadCurve.swift</string>
		<string>C4Rectangle.swift</string>
		<string>C4RegularPolygon.swift</string>
		<string>C4Shape+Creation.swift</string>
		<string>C4Shape.swift</string>
		<string>C4ShapeLayer.swift</string>
		<string>C4StoredAnimation.swift</string>
		<string>C4Star.swift</string>
		<string>C4TextShape.swift</string>
		<string>C4Timer.swift</string>
		<string>C4Triangle.swift</string>
		<string>C4View.swift</string>
		<string>C4View+Animation.swift</string>
		<string>C4View+Border.swift</string>
		<string>C4View+KeyValues.swift</string>
		<string>C4View+Shadow.swift</string>
		<string>C4ViewAnimation.swift</string>
		<string>C4Wedge.swift</string>
		<string>Filters</string>
		<string>UIGestureRecognizer+Closure.swift</string>
		<string>UIViewController+C4View.swift</string>
		<string>C4Loop.aif</string>
		<string>halo.mp4</string>
		<string>haloGray.mp4</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Swift</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>*:implementation:methods:awakeFromNib:super</key>
						<string>super.awakeFromNib()</string>
						<key>C4Color.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/Core/C4Color.swift</string>
							<key>Group</key>
							<array>
								<string>C4</string>
								<string>Core</string>
							</array>
						</dict>
						<key>C4EventSource.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/Core/C4EventSource.swift</string>
							<key>Group</key>
							<array>
								<string>C4</string>
								<string>Core</string>
							</array>
						</dict>
						<key>C4Foundation.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/Core/C4Foundation.swift</string>
							<key>Group</key>
							<array>
								<string>C4</string>
								<string>Core</string>
							</array>
						</dict>
						<key>C4Math.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/Core/C4Math.swift</string>
							<key>Group</key>
							<array>
								<string>C4</string>
								<string>Core</string>
							</array>
						</dict>
						<key>C4Path.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/Core/C4Path.swift</string>
							<key>Group</key>
							<array>
								<string>C4</string>
								<string>Core</string>
							</array>
						</dict>
						<key>C4Point.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/Core/C4Point.swift</string>
							<key>Group</key>
							<array>
								<string>C4</string>
								<string>Core</string>
							</array>
						</dict>
						<key>C4Rect.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/Core/C4Rect.swift</string>
							<key>Group</key>
							<array>
								<string>C4</string>
								<string>Core</string>
							</array>
						</dict>
						<key>C4Size.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/Core/C4Size.swift</string>
							<key>Group</key>
							<array>
								<string>C4</string>
								<string>Core</string>
							</array>
						</dict>
						<key>C4Transform.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/Core/C4Transform.swift</string>
							<key>Group</key>
							<array>
								<string>C4</string>
								<string>Core</string>
							</array>
						</dict>
						<key>C4Vector.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/Core/C4Vector.swift</string>
							<key>Group</key>
							<array>
								<string>C4</string>
								<string>Core</string>
							</array>
						</dict>
						<key>C4Animation.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/C4Animation.swift</string>
							<key>Group</key>
							<array>
								<string>C4</string>
								<string>UI</string>
							</array>
						</dict>
						<key>C4Arc.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/C4Arc.swift</string>
							<key>Group</key>
							<array>
								<string>C4</string>
								<string>UI</string>
							</array>
						</dict>
						<key>C4AudioPlayer.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/C4AudioPlayer.swift</string>
							<key>Group</key>
							<array>
								<string>C4</string>
								<string>UI</string>
							</array>
						</dict>
						<key>C4CanvasController.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/C4CanvasController.swift</string>
							<key>Group</key>
							<array>
								<string>C4</string>
								<string>UI</string>
							</array>
						</dict>
						<key>C4Circle.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/C4Circle.swift</string>
							<key>Group</key>
							<array>
								<string>C4</string>
								<string>UI</string>
							</array>
						</dict>
						<key>C4Curve.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/C4Curve.swift</string>
							<key>Group</key>
							<array>
								<string>C4</string>
								<string>UI</string>
							</array>
						</dict>
						<key>C4Ellipse.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/C4Ellipse.swift</string>
							<key>Group</key>
							<array>
								<string>C4</string>
								<string>UI</string>
							</array>
						</dict>
						<key>C4Filter.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/C4Filter.swift</string>
							<key>Group</key>
							<array>
								<string>C4</string>
								<string>UI</string>
							</array>
						</dict>
						<key>C4Font.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/C4Font.swift</string>
							<key>Group</key>
							<array>
								<string>C4</string>
								<string>UI</string>
							</array>
						</dict>
						<key>C4Generator.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/C4Generator.swift</string>
							<key>Group</key>
							<array>
								<string>C4</string>
								<string>UI</string>
							</array>
						</dict>
						<key>C4Gradient.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/C4Gradient.swift</string>
							<key>Group</key>
							<array>
								<string>C4</string>
								<string>UI</string>
							</array>
						</dict>
						<key>C4GradientLayer.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/C4GradientLayer.swift</string>
							<key>Group</key>
							<array>
								<string>C4</string>
								<string>UI</string>
							</array>
						</dict>
						<key>C4Image+Crop.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/C4Image+Crop.swift</string>
							<key>Group</key>
							<array>
								<string>C4</string>
								<string>UI</string>
							</array>
						</dict>
						<key>C4Image+Filter.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/C4Image+Filter.swift</string>
							<key>Group</key>
							<array>
								<string>C4</string>
								<string>UI</string>
							</array>
						</dict>
						<key>C4Image+Generator.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/C4Image+Generator.swift</string>
							<key>Group</key>
							<array>
								<string>C4</string>
								<string>UI</string>
							</array>
						</dict>
						<key>C4Image.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/C4Image.swift</string>
							<key>Group</key>
							<array>
								<string>C4</string>
								<string>UI</string>
							</array>
						</dict>
						<key>C4Line.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/C4Line.swift</string>
							<key>Group</key>
							<array>
								<string>C4</string>
								<string>UI</string>
							</array>
						</dict>
						<key>C4Movie.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/C4Movie.swift</string>
							<key>Group</key>
							<array>
								<string>C4</string>
								<string>UI</string>
							</array>
						</dict>
						<key>C4Polygon.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/C4Polygon.swift</string>
							<key>Group</key>
							<array>
								<string>C4</string>
								<string>UI</string>
							</array>
						</dict>
						<key>C4QuadCurve.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/C4QuadCurve.swift</string>
							<key>Group</key>
							<array>
								<string>C4</string>
								<string>UI</string>
							</array>
						</dict>
						<key>C4Rectangle.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/C4Rectangle.swift</string>
							<key>Group</key>
							<array>
								<string>C4</string>
								<string>UI</string>
							</array>
						</dict>
						<key>C4RegularPolygon.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/C4RegularPolygon.swift</string>
							<key>Group</key>
							<array>
								<string>C4</string>
								<string>UI</string>
							</array>
						</dict>
						<key>C4Shape+Creation.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/C4Shape+Creation.swift</string>
							<key>Group</key>
							<array>
								<string>C4</string>
								<string>UI</string>
							</array>
						</dict>
						<key>C4StoredAnimation.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/C4StoredAnimation.swift</string>
							<key>Group</key>
							<array>
								<string>C4</string>
								<string>UI</string>
							</array>
						</dict>
						<key>C4Shape.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/C4Shape.swift</string>
							<key>Group</key>
							<array>
								<string>C4</string>
								<string>UI</string>
							</array>
						</dict>
						<key>C4ShapeLayer.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/C4ShapeLayer.swift</string>
							<key>Group</key>
							<array>
								<string>C4</string>
								<string>UI</string>
							</array>
						</dict>
						<key>C4Star.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/C4Star.swift</string>
							<key>Group</key>
							<array>
								<string>C4</string>
								<string>UI</string>
							</array>
						</dict>
						<key>C4TextShape.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/C4TextShape.swift</string>
							<key>Group</key>
							<array>
								<string>C4</string>
								<string>UI</string>
							</array>
						</dict>
						<key>C4Timer.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/C4Timer.swift</string>
							<key>Group</key>
							<array>
								<string>C4</string>
								<string>UI</string>
							</array>
						</dict>
						<key>C4Triangle.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/C4Triangle.swift</string>
							<key>Group</key>
							<array>
								<string>C4</string>
								<string>UI</string>
							</array>
						</dict>
						<key>C4View+Animation.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/C4View+Animation.swift</string>
							<key>Group</key>
							<array>
								<string>C4</string>
								<string>UI</string>
							</array>
						</dict>
						<key>C4View+Border.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/C4View+Border.swift</string>
							<key>Group</key>
							<array>
								<string>C4</string>
								<string>UI</string>
							</array>
						</dict>
						<key>C4View+KeyValues.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/C4View+KeyValues.swift</string>
							<key>Group</key>
							<array>
								<string>C4</string>
								<string>UI</string>
							</array>
						</dict>
						<key>C4View+Shadow.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/C4View+Shadow.swift</string>
							<key>Group</key>
							<array>
								<string>C4</string>
								<string>UI</string>
							</array>
						</dict>
						<key>C4View.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/C4View.swift</string>
							<key>Group</key>
							<array>
								<string>C4</string>
								<string>UI</string>
							</array>
						</dict>
						<key>C4ViewAnimation.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/C4ViewAnimation.swift</string>
							<key>Group</key>
							<array>
								<string>C4</string>
								<string>UI</string>
							</array>
						</dict>
						<key>C4Wedge.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/C4Wedge.swift</string>
							<key>Group</key>
							<array>
								<string>C4</string>
								<string>UI</string>
							</array>
						</dict>
						<key>Filters</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/Filters</string>
							<key>Group</key>
							<array>
								<string>C4</string>
								<string>UI</string>
							</array>
						</dict>
						<key>UIGestureRecognizer+Closure.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/UIGestureRecognizer+Closure.swift</string>
							<key>Group</key>
							<array>
								<string>C4</string>
								<string>UI</string>
							</array>
						</dict>
						<key>UIViewController+C4View.swift</key>
						<dict>
							<key>Path</key>
							<string>./C4/UI/UIViewController+C4View.swift</string>
							<key>Group</key>
							<array>
								<string>C4</string>
								<string>UI</string>
							</array>
						</dict>
						<key>C4Loop.aif</key>
						<dict>
							<key>Path</key>
							<string>./C4Loop.aif</string>
							<key>Group</key>
							<array>
								<string>Media</string>
							</array>
						</dict>
						<key>halo.mp4</key>
						<dict>
							<key>Path</key>
							<string>./halo.mp4</string>
							<key>Group</key>
							<array>
								<string>Media</string>
							</array>
						</dict>
						<key>haloGray.mp4</key>
						<dict>
							<key>Path</key>
							<string>./haloGray.mp4</string>
							<key>Group</key>
							<array>
								<string>Media</string>
							</array>
						</dict>
					</dict>
					<key>Targets</key>
					<array>
						<dict>
							<key>SharedSettings</key>
							<dict/>
						</dict>
					</array>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
