<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.C4StoryboardApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Definitions</key>
	<dict>
		<key>___VARIABLE_classPrefix:identifier___ViewController.m:private</key>
		<string>@interface ___VARIABLE_classPrefix:identifier___ViewController ()

@end
</string>
<key>C4WorkSpace.h:basicInterface</key>
		<string>//
//  C4WorkSpace.h
//  ___PROJECTNAME___
//
//  Created by ___FULLUSERNAME___ on ___DATE___.
//

#import "C4CanvasController.h"

@interface C4WorkSpace : C4CanvasController
@end</string>
<key>C4WorkSpace.m:basicImplementation</key>
		<string>//
//  C4WorkSpace.m
//  ___PROJECTNAME___
//
//  Created by ___FULLUSERNAME___ on ___DATE___.
//

#import "C4Workspace.h"

@implementation C4WorkSpace

-(void)setup {
    //work your magic here
}

@end</string>
	</dict>
	<key>Description</key>
	<string>This template provides a starting point for a new C4iOS application. It provides a workspace to manage the view, and a storyboard or nib file that contains the view.</string>
	<key>Identifier</key>
	<string>com.apple.dt.unit.C4SingleViewApplication</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Nodes</key>
	<array>
		<string>C4WorkSpace.h:basicInterface</string>
		<string>C4WorkSpace.m:basicImplementation</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>universalDeviceFamily</string>
			<key>Units</key>
			<dict>
				<key>Universal</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Base.lproj/Main_iPad.storyboard</key>
						<dict>
							<key>Group</key>
							<string>Storyboards</string>
							<key>Path</key>
							<string>Main_iPad.storyboard</string>
						</dict>
						<key>Base.lproj/Main_iPhone.storyboard</key>
						<dict>
							<key>Group</key>
							<string>Storyboards</string>
							<key>Path</key>
							<string>Main_iPhone.storyboard</string>
						</dict>
					</dict>
				</dict>
				<key>iPad</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Base.lproj/Main.storyboard</key>
						<dict>
							<key>Group</key>
							<string>Storyboards</string>
							<key>Path</key>
							<string>Main_iPad.storyboard</string>
						</dict>
					</dict>
				</dict>
				<key>iPhone</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Base.lproj/Main.storyboard</key>
						<dict>
							<key>Group</key>
							<string>Storyboards</string>
							<key>Path</key>
							<string>Main_iPhone.storyboard</string>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
	</array>
	<key>SortOrder</key>
	<integer>1</integer>
</dict>
</plist>
