<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ancestors</key>
	<array>
		<string>com.c4.applicationBase</string>
		<string>com.c4.iosBase</string>
		<string>com.c4.languageChoice</string>
	</array>
	<key>Components</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>com.apple.dt.unit.cocoaTouchApplicationUnitTestBundle</string>
			<key>Name</key>
			<string>___PACKAGENAME___Tests</string>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>*:implementation:methods:applicationDidBecomeActive:comments</key>
		<string>// Restart any tasks that were paused (or not yet started) while the application was inactive. If the application was previously in the background, optionally refresh the user interface.</string>
		<key>*:implementation:methods:applicationDidEnterBackground:comments</key>
		<string>// Use this method to release shared resources, save user data, invalidate timers, and store enough application state information to restore your application to its current state in case it is terminated later.
// If your application supports background execution, this method is called instead of applicationWillTerminate: when the user quits.
</string>
		<key>*:implementation:methods:applicationWillEnterForeground:comments</key>
		<string>// Called as part of the transition from the background to the inactive state; here you can undo many of the changes made on entering the background.</string>
		<key>*:implementation:methods:applicationWillResignActive:comments</key>
		<string>// Sent when the application is about to move from active to inactive state. This can occur for certain types of temporary interruptions (such as an incoming phone call or SMS message) or when the user quits the application and it begins the transition to the background state.
// Use this method to pause ongoing tasks, disable timers, and throttle down OpenGL ES frame rates. Games should use this method to pause the game.
</string>
		<key>*:implementation:methods:applicationWillTerminate:comments</key>
		<string>// Called when the application is about to terminate. Save data if appropriate. See also applicationDidEnterBackground:.</string>
		<key>Base.lproj/LaunchScreen.xib</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>LaunchScreen.xib</string>
			<key>SortOrder</key>
			<integer>101</integer>
		</dict>
		<key>Info.plist:LaunchScreen</key>
		<string>&lt;key&gt;UILaunchStoryboardName&lt;/key&gt;
&lt;string&gt;LaunchScreen&lt;/string&gt;
</string>
		<key>Info.plist:UIRequiredDeviceCapabilities</key>
		<dict>
			<key>Beginning</key>
			<string>&lt;key&gt;UIRequiredDeviceCapabilities&lt;/key&gt;
&lt;array&gt;</string>
			<key>End</key>
			<string>&lt;/array&gt;</string>
			<key>Indent</key>
			<integer>1</integer>
		</dict>
		<key>Info.plist:UIRequiredDeviceCapabilities:base</key>
		<string>&lt;string&gt;armv7&lt;/string&gt;</string>
		<key>Info.plist:iPhone</key>
		<string>&lt;key&gt;LSRequiresIPhoneOS&lt;/key&gt;
&lt;true/&gt;</string>
		<key>Info.plist:statusBarTintForNavBar</key>
		<string>&lt;key&gt;UIStatusBarTintParameters&lt;/key&gt;
&lt;dict&gt;
    &lt;key&gt;UINavigationBar&lt;/key&gt;
    &lt;dict&gt;
        &lt;key&gt;Style&lt;/key&gt;
        &lt;string&gt;UIBarStyleDefault&lt;/string&gt;
        &lt;key&gt;Translucent&lt;/key&gt;
        &lt;false/&gt;
    &lt;/dict&gt;
&lt;/dict&gt;
</string>
	</dict>
	<key>Identifier</key>
	<string>com.c4.cocoaTouchApplicationBase</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Nodes</key>
	<array>
		<string>Info.plist:iPhone</string>
		<string>Info.plist:UIRequiredDeviceCapabilities:base</string>
		<string>Info.plist:LaunchScreen</string>
		<string>Images.xcassets</string>
		<string>Base.lproj/LaunchScreen.xib</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Default</key>
			<string>Universal</string>
			<key>Description</key>
			<string>Which device family to create a project for</string>
			<key>Identifier</key>
			<string>universalDeviceFamily</string>
			<key>Name</key>
			<string>Devices:</string>
			<key>SortOrder</key>
			<integer>1</integer>
			<key>Type</key>
			<string>popup</string>
			<key>Units</key>
			<dict>
				<key>Universal</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Images.xcassets</key>
						<dict>
							<key>Group</key>
							<string>Media</string>
							<key>Path</key>
							<string>Images-Universal.xcassets</string>
							<key>SortOrder</key>
							<integer>100</integer>
						</dict>
					</dict>
					<key>Nodes</key>
					<array>
						<string>Info.plist:UISupportedInterfaceOrientations~iPhone</string>
						<string>Info.plist:UISupportedInterfaceOrientations~iPad</string>
					</array>
					<key>Project</key>
					<dict>
						<key>SharedSettings</key>
						<dict>
							<key>TARGETED_DEVICE_FAMILY</key>
							<string>1,2</string>
						</dict>
					</dict>
				</dict>
				<key>iPad</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Images.xcassets</key>
						<dict>
							<key>Group</key>
							<string>Media</string>
							<key>Path</key>
							<string>Images-iPad.xcassets</string>
							<key>SortOrder</key>
							<integer>100</integer>
						</dict>
					</dict>
					<key>Nodes</key>
					<array>
						<string>Info.plist:UISupportedInterfaceOrientations~iPad</string>
					</array>
					<key>Project</key>
					<dict>
						<key>SharedSettings</key>
						<dict>
							<key>TARGETED_DEVICE_FAMILY</key>
							<string>2</string>
						</dict>
					</dict>
				</dict>
				<key>iPhone</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Images.xcassets</key>
						<dict>
							<key>Group</key>
							<string>Media</string>
							<key>Path</key>
							<string>Images-iPhone.xcassets</string>
							<key>SortOrder</key>
							<integer>100</integer>
						</dict>
					</dict>
					<key>Nodes</key>
					<array>
						<string>Info.plist:UISupportedInterfaceOrientations~iPhone</string>
					</array>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Objective-C</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>main.m:main</key>
						<dict>
							<key>Beginning</key>
							<string>int main(int argc, char * argv[]) {</string>
							<key>End</key>
							<string>}</string>
							<key>Indent</key>
							<integer>1</integer>
						</dict>
						<key>main.m:main:UIApplicationMain</key>
						<string>@autoreleasepool {
    return UIApplicationMain(argc, argv, nil, NSStringFromClass([C4AppDelegate class]));
}
</string>
<key>___PACKAGENAME___-Prefix.pch</key>
<dict>
	<key>Group</key>
	<string>Supporting Files</string>
	<key>SortOrder</key>
	<integer>100</integer>
	<key>Beginning</key>
	<string>// Copyright © 2012 Travis Kirton
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to
// deal in the Software without restriction, including without limitation the
// rights to use, copy, modify, merge, publish, distribute, sublicense, and/or
// sell copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions: The above copyright
// notice and this permission notice shall be included in all copies or
// substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
// FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
// IN THE SOFTWARE.

</string>
	<key>End</key>
	<string>#import &lt;UIKit/UIKit.h&gt;
#import &lt;Foundation/Foundation.h&gt;
#import &lt;CoreText/CoreText.h&gt;
#import &lt;Foundation/Foundation.h&gt;
#import &lt;QuartzCore/QuartzCore.h&gt;
#import &lt;AVFoundation/AVFoundation.h&gt;
#import &lt;math.h&gt;
#import &quot;C4.h&quot;
</string>
</dict>
<key>Headers/C4.h</key>
<dict>
	<key>Group</key>
	<string>Framework</string>
	<key>Path</key>
	<string>source/C4.h</string>
</dict>
<key>Headers/C4ActivityIndicator.h</key>
<dict>
	<key>Group</key>
	<string>Framework</string>
	<key>Path</key>
	<string>source/C4ActivityIndicator.h</string>
</dict>
<key>Headers/C4AnimationHelper.h</key>
<dict>
	<key>Group</key>
	<string>Framework</string>
	<key>Path</key>
	<string>source/C4AnimationHelper.h</string>
</dict>
<key>Headers/C4AppDelegate.h</key>
<dict>
	<key>Group</key>
	<string>Supporting Files</string>
	<key>Path</key>
	<string>source/C4AppDelegate.h</string>
</dict>
<key>Headers/C4AssertionHandler.h</key>
<dict>
	<key>Group</key>
	<string>Framework</string>
	<key>Path</key>
	<string>source/C4AssertionHandler.h</string>
</dict>
<key>Headers/C4Button.h</key>
<dict>
	<key>Group</key>
	<string>Framework</string>
	<key>Path</key>
	<string>source/C4Button.h</string>
</dict>
<key>Headers/C4Camera.h</key>
<dict>
	<key>Group</key>
	<string>Framework</string>
	<key>Path</key>
	<string>source/C4Camera.h</string>
</dict>
<key>Headers/C4CanvasController.h</key>
<dict>
	<key>Group</key>
	<string>Framework</string>
	<key>Path</key>
	<string>source/C4CanvasController.h</string>
</dict>
<key>Headers/C4Control.h</key>
<dict>
	<key>Group</key>
	<string>Framework</string>
	<key>Path</key>
	<string>source/C4Control.h</string>
</dict>
<key>Headers/C4Defines.h</key>
<dict>
	<key>Group</key>
	<string>Framework</string>
	<key>Path</key>
	<string>source/C4Defines.h</string>
</dict>
<key>Headers/C4EAGLESRenderer.h</key>
<dict>
	<key>Group</key>
	<string>Framework</string>
	<key>Path</key>
	<string>source/C4EAGLESRenderer.h</string>
</dict>
<key>Headers/C4EAGLES1Renderer.h</key>
<dict>
	<key>Group</key>
	<string>Framework</string>
	<key>Path</key>
	<string>source/C4EAGLES1Renderer.h</string>
</dict>
<key>Headers/C4Font.h</key>
<dict>
	<key>Group</key>
	<string>Framework</string>
	<key>Path</key>
	<string>source/C4Font.h</string>
</dict>
<key>Headers/C4Foundation.h</key>
<dict>
	<key>Group</key>
	<string>Framework</string>
	<key>Path</key>
	<string>source/C4Foundation.h</string>
</dict>
<key>Headers/C4GL.h</key>
<dict>
	<key>Group</key>
	<string>Framework</string>
	<key>Path</key>
	<string>source/C4GL.h</string>
</dict>
<key>Headers/C4GL1Renderer.h</key>
<dict>
	<key>Group</key>
	<string>Framework</string>
	<key>Path</key>
	<string>source/C4GL1Renderer.h</string>
</dict>
<key>Headers/C4Image.h</key>
<dict>
	<key>Group</key>
	<string>Framework</string>
	<key>Path</key>
	<string>source/C4Image.h</string>
</dict>
<key>Headers/C4Label.h</key>
<dict>
	<key>Group</key>
	<string>Framework</string>
	<key>Path</key>
	<string>source/C4Label.h</string>
</dict>
<key>Headers/C4Math.h</key>
<dict>
	<key>Group</key>
	<string>Framework</string>
	<key>Path</key>
	<string>source/C4Math.h</string>
</dict>
<key>Headers/C4MethodDelay.h</key>
<dict>
	<key>Group</key>
	<string>Framework</string>
	<key>Path</key>
	<string>source/C4MethodDelay.h</string>
</dict>
<key>Headers/C4Movie.h</key>
<dict>
	<key>Group</key>
	<string>Framework</string>
	<key>Path</key>
	<string>source/C4Movie.h</string>
</dict>
<key>Headers/C4Notification.h</key>
<dict>
	<key>Group</key>
	<string>Framework</string>
	<key>Path</key>
	<string>source/C4Notification.h</string>
</dict>
<key>Headers/C4Object.h</key>
<dict>
	<key>Group</key>
	<string>Framework</string>
	<key>Path</key>
	<string>source/C4Object.h</string>
</dict>
<key>Headers/C4Sample.h</key>
<dict>
	<key>Group</key>
	<string>Framework</string>
	<key>Path</key>
	<string>source/C4Sample.h</string>
</dict>
<key>Headers/C4ScrollView.h</key>
<dict>
	<key>Group</key>
	<string>Framework</string>
	<key>Path</key>
	<string>source/C4ScrollView.h</string>
</dict>
<key>Headers/C4Shape.h</key>
<dict>
	<key>Group</key>
	<string>Framework</string>
	<key>Path</key>
	<string>source/C4Shape.h</string>
</dict>
<key>Headers/C4Slider.h</key>
<dict>
	<key>Group</key>
	<string>Framework</string>
	<key>Path</key>
	<string>source/C4Slider.h</string>
</dict>
<key>Headers/C4Stepper.h</key>
<dict>
	<key>Group</key>
	<string>Framework</string>
	<key>Path</key>
	<string>source/C4Stepper.h</string>
</dict>
<key>Headers/C4Switch.h</key>
<dict>
	<key>Group</key>
	<string>Framework</string>
	<key>Path</key>
	<string>source/C4Switch.h</string>
</dict>
<key>Headers/C4Template.h</key>
<dict>
	<key>Group</key>
	<string>Framework</string>
	<key>Path</key>
	<string>source/C4Template.h</string>
</dict>
<key>Headers/C4Timer.h</key>
<dict>
	<key>Group</key>
	<string>Framework</string>
	<key>Path</key>
	<string>source/C4Timer.h</string>
</dict>
<key>Headers/C4UIElement.h</key>
<dict>
	<key>Group</key>
	<string>Framework</string>
	<key>Path</key>
	<string>source/C4UIElement.h</string>
</dict>
<key>Headers/C4UIGLControl.h</key>
<dict>
	<key>Group</key>
	<string>Framework</string>
	<key>Path</key>
	<string>source/C4UIGLControl.h</string>
</dict>
<key>Headers/C4UIMovieControl.h</key>
<dict>
	<key>Group</key>
	<string>Framework</string>
	<key>Path</key>
	<string>source/C4UIMovieControl.h</string>
</dict>
<key>Headers/C4UIShapeControl.h</key>
<dict>
	<key>Group</key>
	<string>Framework</string>
	<key>Path</key>
	<string>source/C4UIShapeControl.h</string>
</dict>
<key>Headers/C4Vector.h</key>
<dict>
	<key>Group</key>
	<string>Framework</string>
	<key>Path</key>
	<string>source/C4Vector.h</string>
</dict>
<key>Headers/UIColor+CIColorFix.h</key>
<dict>
	<key>Group</key>
	<string>Framework</string>
	<key>Path</key>
	<string>source/UIColor+CIColorFix.h</string>
</dict>
<key>Headers/UIView+C4AddControl.h</key>
<dict>
	<key>Group</key>
	<string>Framework</string>
	<key>Path</key>
	<string>source/UIView+C4AddControl.h</string>
</dict>
<key>implementation/C4AppDelegate.m</key>
<dict>
	<key>Group</key>
	<string>Supporting Files</string>
	<key>Path</key>
	<string>source/C4AppDelegate.m</string>
</dict>
<key>Media.xcassets</key>
<dict>
	<key>Group</key>
	<string>Media</string>
	<key>Path</key>
	<string>Media.xcassets</string>
</dict>
<key>Media/C4Loop.aif</key>
<dict>
	<key>Group</key>
	<string>Media</string>
	<key>Path</key>
	<string>media/C4Loop.aif</string>
</dict>
<key>Media/inception.mov</key>
<dict>
	<key>Group</key>
	<string>Media</string>
	<key>Path</key>
	<string>media/inception.mov</string>
</dict>
					</dict>
					<key>Nodes</key>
					<array>
						<string>main.m:comments</string>
						<string>main.m:imports:importCocoa</string>
						<string>main.m:imports:importHeader:C4AppDelegate.h</string>
						<string>main.m:main:UIApplicationMain</string>
						<string>Media.xcassets</string>
						<string>Images.xcassets</string>
						<string>Headers/C4.h</string>
						<string>Headers/C4ActivityIndicator.h</string>
						<string>Headers/C4AnimationHelper.h</string>
						<string>Headers/C4AppDelegate.h</string>
						<string>Headers/C4AssertionHandler.h</string>
						<string>Headers/C4Button.h</string>
						<string>Headers/C4Camera.h</string>
						<string>Headers/C4CanvasController.h</string>
						<string>Headers/C4Control.h</string>
						<string>Headers/C4Defines.h</string>
						<string>Headers/C4EAGLESRenderer.h</string>
						<string>Headers/C4EAGLES1Renderer.h</string>
						<string>Headers/C4Font.h</string>
						<string>Headers/C4Foundation.h</string>
						<string>Headers/C4GL.h</string>
						<string>Headers/C4GL1Renderer.h</string>
						<string>Headers/C4Image.h</string>
						<string>Headers/C4Label.h</string>
						<string>Headers/C4Math.h</string>
						<string>Headers/C4MethodDelay.h</string>
						<string>Headers/C4Movie.h</string>
						<string>Headers/C4Notification.h</string>
						<string>Headers/C4Object.h</string>
						<string>Headers/C4Sample.h</string>
						<string>Headers/C4ScrollView.h</string>
						<string>Headers/C4Shape.h</string>
						<string>Headers/C4Slider.h</string>
						<string>Headers/C4Stepper.h</string>
						<string>Headers/C4Switch.h</string>
						<string>Headers/C4Template.h</string>
						<string>Headers/C4Timer.h</string>
						<string>Headers/C4UIElement.h</string>
						<string>Headers/C4UIGLControl.h</string>
						<string>Headers/C4UIMovieControl.h</string>
						<string>Headers/C4UIShapeControl.h</string>
						<string>Headers/C4Vector.h</string>
						<string>Headers/UIColor+CIColorFix.h</string>
						<string>Headers/UIView+C4AddControl.h</string>
						<string>implementation/C4AppDelegate.m</string>
						<string>Media/C4Loop.aif</string>
						<string>Media/inception.mov</string>
						<string>___PACKAGENAME___-Prefix.pch</string>
						<!-- <string>AppDelegate.h:comments</string>
						<string>AppDelegate.h:imports:importCocoa</string>
						<string>AppDelegate.h:interface(AppDelegate : UIResponder &lt;UIApplicationDelegate&gt;)</string>
						<string>AppDelegate.h:interface:window</string> -->
						<!-- <string>AppDelegate.m:comments</string> -->
						<!-- <string>AppDelegate.m:imports:importHeader:AppDelegate.h</string> -->
						<!-- <string>AppDelegate.m:extension</string> -->
						<!-- <string>AppDelegate.m:implementation:synthesize</string> -->
						<!-- <string>AppDelegate.m:implementation:methods:applicationdidFinishLaunchingWithOptions(- (BOOL\)application:(UIApplication *\)application didFinishLaunchingWithOptions:(NSDictionary *\)launchOptions)</string> -->
						<!--<string>AppDelegate.m:implementation:methods:applicationdidFinishLaunchingWithOptions:body</string>
						<string>AppDelegate.m:implementation:methods:applicationdidFinishLaunchingWithOptions:return</string>
						<string>AppDelegate.m:implementation:methods:applicationWillResignActive(- (void\)applicationWillResignActive:(UIApplication *\)application)</string>
						<string>AppDelegate.m:implementation:methods:applicationWillResignActive:comments</string>
						<string>AppDelegate.m:implementation:methods:applicationDidEnterBackground(- (void\)applicationDidEnterBackground:(UIApplication *\)application)</string>
						<string>AppDelegate.m:implementation:methods:applicationDidEnterBackground:comments</string>
						<string>AppDelegate.m:implementation:methods:applicationWillEnterForeground(- (void\)applicationWillEnterForeground:(UIApplication *\)application)</string>
						<string>AppDelegate.m:implementation:methods:applicationWillEnterForeground:comments</string>
						<string>AppDelegate.m:implementation:methods:applicationDidBecomeActive(- (void\)applicationDidBecomeActive:(UIApplication *\)application)</string>
						<string>AppDelegate.m:implementation:methods:applicationDidBecomeActive:comments</string>
						<string>AppDelegate.m:implementation:methods:applicationWillTerminate(- (void\)applicationWillTerminate:(UIApplication *\)application)</string>
						<string>AppDelegate.m:implementation:methods:applicationWillTerminate:comments</string> -->
					</array>
					<key>Targets</key>
					<array>
						<dict>
							<key>SharedSettings</key>
							<dict/>
						</dict>
					</array>
				</dict>
				<!-- <key>Swift</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>*:implementation:methods:didReceiveMemoryWarning:super</key>
						<string>super.didReceiveMemoryWarning()
// Dispose of any resources that can be recreated.</string>
						<key>*:implementation:methods:viewDidLoad:super</key>
						<string>super.viewDidLoad()
// Do any additional setup after loading the view, typically from a nib.</string>
						<key>AppDelegate.swift:UIApplicationMain</key>
						<string>@UIApplicationMain</string>
						<key>AppDelegate.swift:implementation:methods:applicationdidFinishLaunchingWithOptions:body</key>
						<string>// Override point for customization after application launch.</string>
						<key>AppDelegate.swift:implementation:methods:applicationdidFinishLaunchingWithOptions:return</key>
						<string>return true</string>
						<key>AppDelegate.swift:implementation:properties:window</key>
						<string>var window: UIWindow?</string>
					</dict>
					<key>Nodes</key>
					<array>
						<string>AppDelegate.swift:comments</string>
						<string>AppDelegate.swift:imports:importCocoa</string>
						<string>AppDelegate.swift:UIApplicationMain</string>
						<string>AppDelegate.swift:implementation(AppDelegate: UIResponder, UIApplicationDelegate)</string>
						<string>AppDelegate.swift:implementation:properties:window</string>
						<string>AppDelegate.swift:implementation:methods:applicationdidFinishLaunchingWithOptions(func application(application: UIApplication, didFinishLaunchingWithOptions launchOptions: [NSObject: AnyObject]?\) -&gt; Bool)</string>
						<string>AppDelegate.swift:implementation:methods:applicationdidFinishLaunchingWithOptions:body</string>
						<string>AppDelegate.swift:implementation:methods:applicationdidFinishLaunchingWithOptions:return</string>
						<string>AppDelegate.swift:implementation:methods:applicationWillResignActive(func applicationWillResignActive(application: UIApplication\))</string>
						<string>AppDelegate.swift:implementation:methods:applicationWillResignActive:comments</string>
						<string>AppDelegate.swift:implementation:methods:applicationDidEnterBackground(func applicationDidEnterBackground(application: UIApplication\))</string>
						<string>AppDelegate.swift:implementation:methods:applicationDidEnterBackground:comments</string>
						<string>AppDelegate.swift:implementation:methods:applicationWillEnterForeground(func applicationWillEnterForeground(application: UIApplication\))</string>
						<string>AppDelegate.swift:implementation:methods:applicationWillEnterForeground:comments</string>
						<string>AppDelegate.swift:implementation:methods:applicationDidBecomeActive(func applicationDidBecomeActive(application: UIApplication\))</string>
						<string>AppDelegate.swift:implementation:methods:applicationDidBecomeActive:comments</string>
						<string>AppDelegate.swift:implementation:methods:applicationWillTerminate(func applicationWillTerminate(application: UIApplication\))</string>
						<string>AppDelegate.swift:implementation:methods:applicationWillTerminate:comments</string>
					</array>
				</dict> -->
			</dict>
		</dict>
		<dict>
			<key>Default</key>
			<string>Library (Faster builds)</string>
			<key>Description</key>
			<string>Include a precomiled lib (faster builds), or raw source files (slower builds)</string>
			<key>Identifier</key>
			<string>includedFilesOption</string>
			<key>Name</key>
			<string>Source Code</string>
			<key>SortOrder</key>
			<integer>1</integer>
			<key>Type</key>
			<string>popup</string>
			<key>Units</key>
			<dict>
				<key>Library (Faster builds)</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>libC4.a</key>
						<dict>
							<key>Group</key>
							<string>Framework</string>
							<key>Path</key>
							<string>source/libC4.a</string>
						</dict>
					</dict>
					<key>Nodes</key>
					<array>
						<string>libC4.a</string>
					</array>
				</dict>
				<key>Raw Files (Slower builds)</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>implementation/C4ActivityIndicator.m</key>
						<dict>
							<key>Group</key>
							<string>Framework</string>
							<key>Path</key>
							<string>source/C4ActivityIndicator.m</string>
						</dict>
						<key>implementation/C4AnimationHelper.m</key>
						<dict>
							<key>Group</key>
							<string>Framework</string>
							<key>Path</key>
							<string>source/C4AnimationHelper.m</string>
						</dict>
						<key>implementation/C4AssertionHandler.m</key>
						<dict>
							<key>Group</key>
							<string>Framework</string>
							<key>Path</key>
							<string>source/C4AssertionHandler.m</string>
						</dict>
						<key>implementation/C4Button.m</key>
						<dict>
							<key>Group</key>
							<string>Framework</string>
							<key>Path</key>
							<string>source/C4Button.m</string>
						</dict>
						<key>implementation/C4Camera.m</key>
						<dict>
							<key>Group</key>
							<string>Framework</string>
							<key>Path</key>
							<string>source/C4Camera.m</string>
						</dict>
						<key>implementation/C4CanvasController.m</key>
						<dict>
							<key>Group</key>
							<string>Framework</string>
							<key>Path</key>
							<string>source/C4CanvasController.m</string>
						</dict>
						<key>implementation/C4Control.m</key>
						<dict>
							<key>Group</key>
							<string>Framework</string>
							<key>Path</key>
							<string>source/C4Control.m</string>
						</dict>
						<key>implementation/C4Defines.m</key>
						<dict>
							<key>Group</key>
							<string>Framework</string>
							<key>Path</key>
							<string>source/C4Defines.m</string>
						</dict>
						<key>implementation/C4EAGLES1Renderer.m</key>
						<dict>
							<key>Group</key>
							<string>Framework</string>
							<key>Path</key>
							<string>source/C4EAGLES1Renderer.m</string>
						</dict>
						<key>implementation/C4EAGLESRenderer.m</key>
						<dict>
							<key>Group</key>
							<string>Framework</string>
							<key>Path</key>
							<string>source/C4EAGLESRenderer.m</string>
						</dict>
						<key>implementation/C4Font.m</key>
						<dict>
							<key>Group</key>
							<string>Framework</string>
							<key>Path</key>
							<string>source/C4Font.m</string>
						</dict>
						<key>implementation/C4Foundation.m</key>
						<dict>
							<key>Group</key>
							<string>Framework</string>
							<key>Path</key>
							<string>source/C4Foundation.m</string>
						</dict>
						<key>implementation/C4GL.m</key>
						<dict>
							<key>Group</key>
							<string>Framework</string>
							<key>Path</key>
							<string>source/C4GL.m</string>
						</dict>
						<key>implementation/C4GL1Renderer.m</key>
						<dict>
							<key>Group</key>
							<string>Framework</string>
							<key>Path</key>
							<string>source/C4GL1Renderer.m</string>
						</dict>
						<key>implementation/C4Image.m</key>
						<dict>
							<key>Group</key>
							<string>Framework</string>
							<key>Path</key>
							<string>source/C4Image.m</string>
						</dict>
						<key>implementation/C4Label.m</key>
						<dict>
							<key>Group</key>
							<string>Framework</string>
							<key>Path</key>
							<string>source/C4Label.m</string>
						</dict>
						<key>implementation/C4Math.m</key>
						<dict>
							<key>Group</key>
							<string>Framework</string>
							<key>Path</key>
							<string>source/C4Math.m</string>
						</dict>
						<key>implementation/C4Movie.m</key>
						<dict>
							<key>Group</key>
							<string>Framework</string>
							<key>Path</key>
							<string>source/C4Movie.m</string>
						</dict>
						<key>implementation/C4Object.m</key>
						<dict>
							<key>Group</key>
							<string>Framework</string>
							<key>Path</key>
							<string>source/C4Object.m</string>
						</dict>
						<key>implementation/C4Sample.m</key>
						<dict>
							<key>Group</key>
							<string>Framework</string>
							<key>Path</key>
							<string>source/C4Sample.m</string>
						</dict>
						<key>implementation/C4ScrollView.m</key>
						<dict>
							<key>Group</key>
							<string>Framework</string>
							<key>Path</key>
							<string>source/C4ScrollView.m</string>
						</dict>
						<key>implementation/C4Shape.m</key>
						<dict>
							<key>Group</key>
							<string>Framework</string>
							<key>Path</key>
							<string>source/C4Shape.m</string>
						</dict>
						<key>implementation/C4Slider.m</key>
						<dict>
							<key>Group</key>
							<string>Framework</string>
							<key>Path</key>
							<string>source/C4Slider.m</string>
						</dict>
						<key>implementation/C4Stepper.m</key>
						<dict>
							<key>Group</key>
							<string>Framework</string>
							<key>Path</key>
							<string>source/C4Stepper.m</string>
						</dict>
						<key>implementation/C4Switch.m</key>
						<dict>
							<key>Group</key>
							<string>Framework</string>
							<key>Path</key>
							<string>source/C4Switch.m</string>
						</dict>
						<key>implementation/C4Template.m</key>
						<dict>
							<key>Group</key>
							<string>Framework</string>
							<key>Path</key>
							<string>source/C4Template.m</string>
						</dict>
						<key>implementation/C4Timer.m</key>
						<dict>
							<key>Group</key>
							<string>Framework</string>
							<key>Path</key>
							<string>source/C4Timer.m</string>
						</dict>
						<key>implementation/C4UIElement.m</key>
						<dict>
							<key>Group</key>
							<string>Framework</string>
							<key>Path</key>
							<string>source/C4UIElement.m</string>
						</dict>
						<key>implementation/C4UIGLControl.m</key>
						<dict>
							<key>Group</key>
							<string>Framework</string>
							<key>Path</key>
							<string>source/C4UIGLControl.m</string>
						</dict>
						<key>implementation/C4UIMovieControl.m</key>
						<dict>
							<key>Group</key>
							<string>Framework</string>
							<key>Path</key>
							<string>source/C4UIMovieControl.m</string>
						</dict>
						<key>implementation/C4UIShapeControl.m</key>
						<dict>
							<key>Group</key>
							<string>Framework</string>
							<key>Path</key>
							<string>source/C4UIShapeControl.m</string>
						</dict>
						<key>implementation/C4Vector.m</key>
						<dict>
							<key>Group</key>
							<string>Framework</string>
							<key>Path</key>
							<string>source/C4Vector.m</string>
						</dict>
						<key>implementation/UIColor+CIColorFix.m</key>
						<dict>
							<key>Group</key>
							<string>Framework</string>
							<key>Path</key>
							<string>source/UIColor+CIColorFix.m</string>
						</dict>
						<key>implementation/UIView+C4AddControl.m</key>
						<dict>
							<key>Group</key>
							<string>Framework</string>
							<key>Path</key>
							<string>source/C4AddControl.m</string>
						</dict>
					</dict>
					<key>Nodes</key>
					<array>
						<string>implementation/C4ActivityIndicator.m</string>
						<string>implementation/C4AnimationHelper.m</string>
						<string>implementation/C4AssertionHandler.m</string>
						<string>implementation/C4Button.m</string>
						<string>implementation/C4Camera.m</string>
						<string>implementation/C4CanvasController.m</string>
						<string>implementation/C4Control.m</string>
						<string>implementation/C4Defines.m</string>
						<string>implementation/C4EAGLESRenderer.m</string>
						<string>implementation/C4EAGLES1Renderer.m</string>
						<string>implementation/C4Font.m</string>
						<string>implementation/C4Foundation.m</string>
						<string>implementation/C4GL.m</string>
						<string>implementation/C4GL1Renderer.m</string>
						<string>implementation/C4Image.m</string>
						<string>implementation/C4Label.m</string>
						<string>implementation/C4Math.m</string>
						<string>implementation/C4Movie.m</string>
						<string>implementation/C4Object.m</string>
						<string>implementation/C4Sample.m</string>
						<string>implementation/C4ScrollView.m</string>
						<string>implementation/C4Shape.m</string>
						<string>implementation/C4Slider.m</string>
						<string>implementation/C4Stepper.m</string>
						<string>implementation/C4Switch.m</string>
						<string>implementation/C4Template.m</string>
						<string>implementation/C4Timer.m</string>
						<string>implementation/C4UIElement.m</string>
						<string>implementation/C4Vector.m</string>
						<string>implementation/C4UIGLControl.m</string>
						<string>implementation/C4UIMovieControl.m</string>
						<string>implementation/C4UIShapeControl.m</string>
						<string>implementation/UIColor+CIColorFix.m</string>
						<string>implementation/UIView+C4AddControl.m</string>
					</array>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Project</key>
	<dict>
		<key>SharedSettings</key>
		<dict>
			<key>CODE_SIGN_IDENTITY[sdk=iphoneos*]</key>
			<string>iPhone Developer</string>
		</dict>
	</dict>
	<key>Targets</key>
	<array>
		<dict>
			<key>SharedSettings</key>
			<dict>
				<key>ASSETCATALOG_COMPILER_APPICON_NAME</key>
				<string>AppIcon</string>
				<key>LD_RUNPATH_SEARCH_PATHS</key>
				<string>$(inherited) @executable_path/Frameworks</string>
			</dict>
			<key>TargetIdentifier</key>
			<string>com.apple.dt.cocoaTouchApplicationTarget</string>
		</dict>
	</array>
</dict>
</plist>
