<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.C4StoryboardApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template provides a starting point for an application that uses a single view. It provides a view controller to manage the view, and a storyboard or nib file that contains the view.</string>
	<key>Identifier</key>
	<string>com.apple.dt.unit.C4SingleViewApplication</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Definitions</key>
	<dict>
		<key>*:implementation:methods:setup:body</key>
		<string>//Work your magic here.</string>
		<key>Base.lproj/LaunchScreen.xib</key>
		<dict>
			<key>Path</key>
			<string>LaunchScreen.xib</string>
			<key>SortOrder</key>
			<integer>101</integer>
		</dict>
	</dict>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>universalDeviceFamily</string>
			<key>Units</key>
			<dict>
				<key>Universal</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Base.lproj/Main.storyboard</key>
						<dict>
							<key>Path</key>
							<string>Main_Universal.storyboard</string>
							<key>SortOrder</key>
							<integer>99</integer>
						</dict>
						<key>Images.xcassets</key>
						<dict>
							<key>Path</key>
							<string>Images-Universal.xcassets</string>
							<key>SortOrder</key>
							<integer>100</integer>
						</dict>
					</dict>
				</dict>
				<key>iPad</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Base.lproj/Main.storyboard</key>
						<dict>
							<key>Path</key>
							<string>Main_iPad.storyboard</string>
							<key>SortOrder</key>
							<integer>99</integer>
						</dict>
						<key>Images.xcassets</key>
						<dict>
							<key>Path</key>
							<string>Images-iPad.xcassets</string>
							<key>SortOrder</key>
							<integer>100</integer>
						</dict>
					</dict>
				</dict>
				<key>iPhone</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Base.lproj/Main.storyboard</key>
						<dict>
							<key>Path</key>
							<string>Main_iPhone.storyboard</string>
							<key>SortOrder</key>
							<integer>99</integer>
						</dict>
						<key>Images.xcassets</key>
						<dict>
							<key>Path</key>
							<string>Images-iPhone.xcassets</string>
							<key>SortOrder</key>
							<integer>100</integer>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Swift</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>WorkSpace.swift:comments</string>
						<string>WorkSpace.swift:imports:importCocoa</string>
						<string>WorkSpace.swift:implementation(___FILEBASENAME___: CanvasController)</string>
						<string>WorkSpace.swift:implementation:methods:setup(override func setup(\))</string>
						<string>WorkSpace.swift:implementation:methods:setup:body</string>
					</array>
				</dict>
			</dict>
		</dict>
	</array>
	<key>SortOrder</key>
	<integer>1</integer>
</dict>
</plist>
